  //********************
  //      VARIABLES
  //********************


  //********************
  //      MIXIN
  //********************

  
  //********************
  //      CLASS
  //********************
  

    .element {

        margin-top: 2vh;
    }

    .errordiv {
        
        color: #f04141;
        text-align: end;
        margin-right: 1vh;
    }
