  //********************
  //      VARIABLES
  //********************


  //********************
  //      MIXIN
  //********************

  
  //********************
  //      CLASS
  //********************
  

    .element {

        margin-top: 2vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .errordiv {
        
        color: #f04141;
        text-align: end;
        margin-right: 1vh;
    }

    .buttonLeft  {

      width: 65%;
      float: left;
    }
  
    .buttonRight  {
  
      width: 30%;
      float: right;
    }
