<ion-header>
  <ion-toolbar>
    <ion-title>Device List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-button (click)="goGraph()" expand="block" class="element">Graph</ion-button>-->

  <div *ngFor="let i of array1">
    <ion-item (click)="goDevice()">
      <ion-label>
        Device : {{i}}
      </ion-label>
    </ion-item>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="presentAlert()" expand="block" color="danger" class="element buttonLeft">Disconnect
    </ion-button>

    <ion-button (click)="LoadDevice()" expand="block" color="success" class="element buttonRight">
      Refresh</ion-button>
  </ion-toolbar>
</ion-footer>