<ion-header>
  <ion-toolbar>
    <ion-title>Device List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let device of listdevice">
    <ion-item (click)="goDevice(device.macAddress)">
      <ion-label>
        Device : {{device.macAddress}}
      </ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="presentAlert()" expand="block" color="danger" fill="outline" class="element buttonLeft">Disconnect
    </ion-button>
    <ion-button (click)="LoadDevice()" expand="block" color="success" fill="outline" class="element buttonRight">
      Refresh</ion-button>
  </ion-toolbar>
</ion-footer>