<ion-header>
  <ion-toolbar>
    <ion-title>device info</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label>Name</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Last Metric</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Led</ion-label>
    </ion-item>



    <ion-button (click)="Refresh()" expand="block" color="success" class="element">Refresh</ion-button>

    <ion-button (click)="ToggleLed()" expand="block" class="element">Toggle LED</ion-button>
  </ion-card>
</ion-content>