<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
<img src="assets/atlantis-logo.png" class="logo">
    <ion-text>
      <h3 class="text">Login or create an account to use the application</h3>
    </ion-text>

    <ion-button (click)="login()" expand="block" size="large" fill="outline" color="success" class="element"
      class="buttonlogin">
      Authentication</ion-button>
  </div>

  <!--<ion-button (click)="testest()">testest</ion-button>-->

</ion-content>