<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Login</ion-label>
      <ion-input type="email" formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }"></ion-input>
    </ion-item>
    <div *ngIf="submitted && registerForm.controls.email.errors">
      <div *ngIf="submitted && registerForm.controls.email.errors.pattern" class="errordiv">
        Unvalid login
      </div>
    </div>

    <ion-item class="element">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }"></ion-input>
    </ion-item>
    <div *ngIf="submitted && registerForm.controls.password.errors">
      <div *ngIf="submitted && registerForm.controls.password.errors" class="errordiv">
        Unvalid password
      </div>
    </div>
  </form>


  <ion-button [disabled]="buttonDisable" (click)="Login()" expand="block" color="success" class="element">Login</ion-button>

  <ion-button (click)="goSignIn()" expand="block" class="element">Sign-in</ion-button>
  

</ion-content>