@import "src/theme/globalTheme";

.logo {
  width: 60%;
  display: block;
  margin: auto;
}

.text{
  text-align: center;
}

.buttonlogin{

  text-transform: uppercase;
  text-align: center;  
}

ion-button{

  margin-top: 5vh;
}