<ion-header>
  <ion-toolbar>
    <img src="assets/atlantis-logo.png" style="width: 20%;">
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <img src="assets/algeco-logo.png" class="logo">
    <img src="assets/exakisnelite-logo.png" class="logo">
    <ion-text>
      <h3 class="text">Login or create an account to use the application</h3>
    </ion-text>

    <ion-button (click)="login()" expand="block" size="large" fill="outline" color="success" class="element" class="buttonlogin">
      Authentication</ion-button>
  </div>

  <ion-button (click)="test()"></ion-button>

<ion-button (click)="testest()">testest</ion-button>

<ion-button href="https://stackoverflow.com"></ion-button>

</ion-content>